* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  padding: 15px 150px;
  background-image: url(https://images.pexels.com/photos/2310641/pexels-photo-2310641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.row {
  margin: 15px 0;
}

header {
  /* background-color: yellow; */
  height: 250px;
  /* margin-bottom: 15px; */
  /* background-image: url(https://images.pexels.com/photos/1125265/pexels-photo-1125265.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); */
}

header .immagine {
  background-image: url(https://images.pexels.com/photos/1125265/pexels-photo-1125265.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  height: 250px;
  border: 13px solid white;
  position: relative;
  text-align: center;
}
aside {
  height: 200px;
  /* background-color: pink; */
  width: 25%;
  float:left;
  /* padding: 20px; */
}

main {
  height: 700px;
  /* background-color: violet; */
  width: 50%;
  float: left;
  padding: 0 10px;
}

footer {
  background-color: lightblue;
  height: 150px;
}

aside .sfondo {
  background-color: pink;
  height: 200px;
  margin-bottom: 10px;
}

main .sfondo {
  background-color: violet;
  height: 500px;
}

.overlay {
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  background-color: rgba(85, 80, 100, 0.3);
}

header .immagine img {
  height: 150px;
  width: 400px;
  line-height: 250px;
  transform: translate(-50%, -50%);
  position: absolute;
  top:43%;
  left:50%;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 23px;
  transform: translate(-50%, -50%);
  position: absolute;
  top:80%;
  left:50%;
  width: 500px;
}
